*
data/aftermath/__label.csv
data/aftermath/__meal.csv

!*/

!.gitignore
!*.md
!*.sql
!*.mwb
!*.ipynb
!er_diagram.png
!er_diagram.drawio
!app/*.csv
!app/*.ipynb
!app/*.json
!app/*.py
!app/generated/*.csv
!app/generated/*.sql
!app/generated/faces/*.png
!app/base_images/*.png
!app/base_images/*.xcf
!app/generated/episodes/*.png
!external_data/*.csv
!external_data/*.ipynb
!data/*.json
!data/*.py
!data/*.ipynb
!data/*.csv
!data/base_images/*.png
!data/to_import/*.csv
!data/aftermath/*.csv
!data/aftermath/*.ipynb
!data/aftermath/*.sql
!data/aftermath/*.py

