*
data/aftermath/__label.csv
data/aftermath/__meal.csv

!*/

!.gitignore
!*.md
!*.sql
!*.mwb
!app/*.csv
!app/*.ipynb
!app/*.json
!app/generated/*.csv
!app/generated/*.sql
!external_data/*.csv
!external_data/*.ipynb
!data/*.json
!data/*.py
!data/*.ipynb
!data/*.csv
!data/to_import/*.csv
!data/aftermath/*.csv
!data/aftermath/*.ipynb
!data/aftermath/*.sql

